body{
    background-color: white;
}
.container{
    
    width: 400px;
    height: 350px;
    margin: 40px auto;
    padding-left: 40px;

}
div p {
    color: #0000ff;
    font-weight: bold;
    font-size: 50pt;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.para{
    color: black;
}
button{
    background-color: #0000ff;
    color: white;
    padding: 5px 10px;
    border: 0px;
    width: 130px;
    height: 30px;
}
.boxHalfWidth{

    width: 200px;
    height: 350px;
    border: 5px solid #0000ff;
    border-right: 0px;
    box-sizing: border-box;
}