.div-top{
    background-color: #B0B0B0;
    width: 100%;
    height: 100px;

}
.div-bottom{
    background-color:  #0c0e33;
    width: 100%;
    height: 600px;
}
.div-middle{
    width: 35%;
    margin: 15px 40px 15px 300px;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 30px;
    bottom: -30px;
    right: 150px;
}
body{
    width: 100%;
}
.heading1{
    font-family: 'Roboto', sans-serif;
    color: #c78c3a;
    font-size: 22pt;
    padding: 100px 1000px 0px 350px;
    box-sizing: border-box;
}
.para1{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 35pt;
    font-weight: bold;
    margin: 20px 350px ;
    box-sizing: border-box;
    width: 400px;
    height: 500px;
}
.heading2{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 20pt;
    font-weight: bold;
    padding: 100px 10px 40px 50px;
    box-sizing: border-box;
}
.para2{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 20px 50px;
    /* padding: 200px 10px 40px 150px; */
    box-sizing: border-box;
    line-height: 40px;
}
.icon{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}