.container{
    width: 100%;
    height: 600px;
    background-color: #DFE8EF;
    padding-top: 10px;
    padding-bottom:10px ;
    position: relative;
}
.container-item2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.container-item1{
    width: 500px;
    height: 600px;
    margin: 0px auto;
    background-color: #EEF3F7;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Bitter', serif;
}
.container-item2{
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    top: 40px;
    left: 630px;
}
.icon{
    width: 40px;
    height: 40px;
}
.big-icon{
    width: 120px;
    height: 120px;
}
.c-flex1{
    display: flex;
    flex-direction: column;
    position: absolute;
    right:40px;
    top: 40px;
    gap: 20px;
    align-items: center;
}
.bold{
    font-weight: bold;
    color: #707798;
    margin-bottom: 15px;
}
.text{
    position: absolute;
    top: 410px;
    font-size: 25px;
    color: #B2BBC8;
}
.c-flex2{
    display: flex;
    flex-direction: column;
    color: #B2BBC8;
    gap: 10px;
    position: absolute;
    top: 500px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}
.item1-flex2{
    position: relative;
    width: 440px;
    height: 25px;
}
.time{
    position: absolute;
    right: 0px;
}
.item3-flex2{
    font-size: 18px;
}
.loading{
    width: 440px;
    height: 8px;
    background-color: #D1D7E6;
    border-radius: 40px;
}
.container-item3{
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #24292D;
    color: white;
    text-align: center;
    padding: 15px 35px;
    border-radius: 5px;
    font-family: 'Bitter', serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
}
.container-item3:hover{
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.item-flex1{
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: 0.5s all ease-in-out;
    border-radius: 50%;
    padding: 5px 5px;
    box-sizing: border-box;
}
.item-flex1:hover{
    transition: 0.5s all ease-in-out;
    background-color: white;
    transform: scale(1.5);
}
